name: 'Build'
on: 'push'
jobs:
  linux:
    name: "Linux"
    runs-on: 'ubuntu-latest'
    container:
      image: 'ghcr.io/lmichaelis/images:clang-14'
    steps:
      - uses: 'actions/checkout@v3'
        with:
          submodules: 'recursive'
      - name: 'Configure'
        run: 'cmake -B build -DCMAKE_BUILD_TYPE=Release'
      - name: 'Build'
        run: 'cmake --build build --config Release'
      - name: 'Publish Library'
        uses: 'actions/upload-artifact@v3'
        with:
          name: 'Linux x86-64 Shared Object'
          path: 'build/libphoenix-shared*'
  android:
    name: "Android"
    runs-on: 'ubuntu-latest'
    container:
      image: 'cimg/android:2023.04.1-ndk'
    steps:
      - uses: 'actions/checkout@v3'
        with:
          submodules: 'recursive'
      - name: 'Configure'
        run: 'cmake -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_SYSTEM_NAME=Android -DCMAKE_ANDROID_NDK="$(ANDROID_NDK_ROOT)" -DCMAKE_ANDROID_ARCH_ABI=arm64-v8a -DCMAKE_ANDROID_STL_TYPE=c++_static -DBUILD_SQUISH_WITH_SSE2=OFF'
      - name: 'Build'
        run: 'cmake --build build --config Release'
      - name: 'Publish Library'
        uses: 'actions/upload-artifact@v3'
        with:
          name: 'ARM x64 Shared Object'
          path: 'build/libphoenix-shared*'
  macos:
    name: "MacOS"
    runs-on: 'macos-11'
    steps:
      - uses: 'actions/checkout@v3'
        with:
          submodules: 'recursive'
      - uses: 'maxim-lobanov/setup-xcode@v1'
        with:
          xcode-version: 13
      - name: 'Configure'
        run: 'cmake -B build -DCMAKE_BUILD_TYPE=Release'
      - name: 'Build'
        run: 'cmake --build build --config Release'
      - name: 'Publish Library'
        uses: 'actions/upload-artifact@v3'
        with:
          name: 'MacOS x86-64 DyLib'
          path: 'build/libphoenix-shared*'
  windows:
    name: "Windows"
    runs-on: 'windows-2022'
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@v3'
        with:
          submodules: 'recursive'
      - name: 'Set up MinGW-w64'
        uses: 'msys2/setup-msys2@v2'
        with:
          update: true
          msystem: 'mingw64'
      - name: 'Configure'
        run: 'cmake -G "MinGW Makefiles" -B build -DCMAKE_BUILD_TYPE=Release'
      - name: 'Build'
        run: 'cmake --build build'
      - name: 'Publish Library'
        uses: 'actions/upload-artifact@v3'
        with:
          name: 'Windows x86-64 DLL'
          path: 'build/libphoenix-shared.dll'
